.clearfix {
  overflow: auto;
  zoom: 1;
}

.mid_box{
    max-width: 900px;
    margin: 0 auto;
}

body{
    margin: 0;
    background: #fff url('/public/img/background/047.jpg') no-repeat top center fixed;
    display:block;
}

header.topbar{
    background-color: #191919;
    font-family: 'Droid Sans', sans-serif !important;
}

header.topbar nav ul{
    margin: 1px 0;
    float: right;
}

header.topbar li{
    display: inline-block;
    border-right: 1px solid #373737;
    padding: 8px 10px;
}

header.topbar li:last-child{
    border-right: 0px none #000000;
}

header.topbar a{
    color: #bcbcbc;
    font-size: 12px;
    text-decoration: none;
}

header.topbar a:hover{
    color: #ffffff;
}

main header{
    background-color: #2b2b2b;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;

    -webkit-box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);
    -moz-box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);
    box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);
}

main header div.innerheader{
    padding: 0 20px;
}

main header div.innerheader a.logo{
    max-width: 220px;
    text-align: left;
    margin: 10px 0;
    float: left;
    text-decoration: none;
}

a.logo h1{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

a.logo p{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #bcbcbc;
    margin-top: -10px;
    font-size: 12px;
}

main header div.innerheader nav{
    float:right;
    margin-top: 0;
}

main header div.innerheader nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #111111;
    float: left;
}

main header div.innerheader nav ul li{
    display: inline-block;
    float: left;
}

main header div.innerheader nav ul a{
    font-family: Arial, Helvetica, sans-serif !important;
    min-height: 42px;
    padding-top: 43px;
    padding: 40px 18px 10px 18px;
    display: block;

    border-left: 1px solid #3c3c3c;
    border-right: 1px solid #111111;

    font-weight: bold;
    color: #999;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;

    max-width: 100px
}

main header div.innerheader nav ul a:hover{
    color: #fff;
    background-color: #444;
}

main div.headerbox{
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;

    -webkit-box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);
    -moz-box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);
    box-shadow: 0 0 5px 0px rgba(70, 70, 70, 0.3);

    background-color:#fff;
    float: left;
    width: 100%;
}

main div.headerbox article{
    margin: 10px 15px;
    display:block;
    min-height:100px;
    position:relative;
}
